<style>
div{
    font-family:-apple-system;
}

#footer-notification #Noti{
    display: inline-block;
    width: 100px;
    height: 40px;
    background: url(https://res.klook.com/image/upload/v1615521825/ommkzuaadeoqpqn2rqt4.png) no-repeat -160px -10px;
}

#css-a{
    text-decoration: none; 
    color: black;
    font-family:-apple-system;
    opacity: 0.6;
}
#css-a-title{
    text-decoration: none; 
    font-weight: 600; 
    color: black;
}
#css-pay{
    width: 40px;
    height: 25px;
    margin-left: -40px;
    margin-right: 50px;
    margin-bottom: 12px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

</style>
<div class="footer-all" style="display: flex; box-sizing: border-box; border: 1px solid rgb(197, 197, 197); border-radius: 4px; padding: 20px 20px; height: 400px;">
    <div id="footer-first" style="margin-right: 10px;">
        <div id="footer-copyright" style="font-size: 20px; width: 400px;">
            <p >© 2014-2023 Klook. All Rights Reserved.</p>
        </div>
    
        <div id="footer-notification">
            <a target="_blank" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=46366" id="Noti"></a>
        </div>
    </div>
    
    <div class="footer-content" style=" margin-left: 10px; display: flex; font-size: 16px; ">
        <ul style="list-style: none; width: 210px;">
            <li style="display: block; margin-bottom: 10px;  ">
                <a id="css-a-title" href="">VỀ KLOOK</a>
            </li>
            <li>
                <a id="css-a" href="">Về chúng tôi</a>
            </li>
            <li>
                <a id="css-a" href="">Klook Blog</a>
            </li>
            <li>
                <a id="css-a" href="">Cơ hội nghề nghiệp</a>
            </li>
            <li>
                <a id="css-a" href="">Phiếu quà tặng Klook</a>
            </li>
        </ul>

        <ul style="list-style: none; width: 300px; ">
            <li style="display: block; margin-bottom: 10px;  ">
                <a id="css-a-title" href="">ĐỐI TÁC</a>
            </li>
            <li>
                <a id="css-a" href="">Đăng ký nhà cung cấp</a>
            </li>
            <li>
                <a id="css-a" href="">Đối tác đăng nhập</a>
            </li>
            <li>
                <a id="css-a" href="">Đối tác liên kết</a>
            </li>
            <li>
                <a id="css-a" href="">Chương trình cho người nổi tiếng</a>
            </li>
            <li>
                <a id="css-a" href="">Chương trình đại lý</a>
            </li>
            <li>
                <a id="css-a" href="">Hợp tác marketing & phân phối</a>
            </li>
        </ul>

        <ul style="list-style: none; width: 300px;">
            <li style="display: block; margin-bottom: 10px;  ">
                <a id="css-a-title" href=""><span>ĐIỀU KHOẢNG SỬ DỤNG</span></a>
            </li>
            <li>
                <a id="css-a" href="">Điều khoảng sử dụng</a>
            </li>
            <li>
                <a id="css-a" href="">Chính sách bảo mật của Klook</a>
            </li>
            <li>
                <a id="css-a" href="">Chính sách Cookie</a>
            </li>
            <li>
                <a id="css-a" href="">Chương trình thưởng phát hiện lỗi phần mềm</a>
            </li>
            <li>
                <a id="css-a" href="">Chính sách và quy định</a>
            </li>
        </ul>
        <div class="footer-email" style="position: relative; display: block; width: 300px; margin-left: 200px; ">
            <span id="css-a-title" >Các deal du lịch giảm giá đến 60% sẽ được gửi đến inbox của bạn</span>
            <p style="opacity: 0.6;">Khi nhấp vào Đăng Ký, bạn đồng ý với 
               <a style="text-decoration:underline; color: black;" href="">Các Điều Kiện & Điều Khoảng</a> 
                và 
               <a style="text-decoration:underline; color: black;" href="">Chính Sách Bảo Mật </a> 
                của chúng tôi</p>
                <div class="input" style="display: flex; position: relative; ">
                    <input style="width: 200px; height: 40px; border-radius: 8px; border: none; outline: none; background-color: rgb(238, 238, 238); padding: 10px;" type="text" placeholder="Nhập email...">
                    <button style="width: 80px; height: 40px; border-radius: 8px; border: none; outline: none; background-color: rgb(255, 64, 0); margin-left: -15px; color: white;">Đăng Ký</button>
                </div>

                <div class="footer-pay" style="margin-top: 20px; font-weight: 600;">
                    <span >KÊNH THANH TOÁN</span>
                    <ul style="list-style-type: none;">
                        <li id="css-pay" class="unionpay" style="background-image: url(https://res.klook.com/image/upload/v1646105893/btntfn8avhh5lmzftvvt.png);"></li>
                        <li id="css-pay" class="alipay" style="background-image: url(https://res.klook.com/image/upload/v1646105893/izie51h8cglw7tp4xtcm.png);"></li>
                        <li id="css-pay" class="newMaster" style="background-image: url(https://res.klook.com/image/upload/v1646105893/o2a7mqjltfeldbfffmn9.png);"></li>
                        <li id="css-pay" class="jcb" style="background-image: url(https://res.klook.com/image/upload/v1646105893/oz0s9miltrjsgjc271wo.png);"></li>
                        <li id="css-pay" class="newPaypal" style="background-image: url(https://res.klook.com/image/upload/v1646105893/f08rx4qptjfrt5bqpkqu.png);"></li>
                        <li id="css-pay" class="newAE" style="background-image: url(https://res.klook.com/image/upload/v1658112561/fxi9j1y4xlyoohugp6p9.png);"></li>
                        <li id="css-pay" class="newVisa" style="background-image: url(https://res.klook.com/image/upload/v1658112561/fxi9j1y4xlyoohugp6p9.png);"></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
