<hr style="margin-bottom: 20px; margin-top: 20px;">
<div id="content-footer" class="row" style="margin-left: 36px; margin-right: 36px; margin-bottom: 60px;">
    <div class="col-sm-6 col-lg-2">
        <div style="font-size: 20px;">
            <p class="css-a">© 2014-2023 Klook. All Rights Reserved.</p>
        </div>
        
        <div id="footer-notification">
            <a target="_blank" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=46366" id="Noti"></a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-2">
        <ul style="list-style: none;">
            <li style="display: block; border-color: 1;  ">
                <a class="css-a-title" href="">VỀ KLOOK</a>
            </li>
            <li>
                <a class="css-a" href="">Về chúng tôi</a>
            </li>
            <li>
                <a class="css-a" href="">Klook Blog</a>
            </li>
            <li>
                <a class="css-a" href="">Cơ hội nghề nghiệp</a>
            </li>
            <li>
                <a class="css-a" href="">Phiếu quà tặng Klook</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 col-lg-2">
        <ul style="list-style: none; ">
            <li style="display: block; margin-bottom: 10px;  ">
                <a class="css-a-title" href="">ĐỐI TÁC</a>
            </li>
            <li>
                <a class="css-a" href="">Đăng ký nhà cung cấp</a>
            </li>
            <li>
                <a class="css-a" href="">Đối tác đăng nhập</a>
            </li>
            <li>
                <a class="css-a" href="">Đối tác liên kết</a>
            </li>
            <li>
                <a class="css-a" href="">Chương trình cho người nổi tiếng</a>
            </li>
            <li>
                <a class="css-a" href="">Chương trình đại lý</a>
            </li>
            <li>
                <a class="css-a" href="">Hợp tác marketing & phân phối</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 col-lg-3">
        <ul style="list-style: none;">
            <li style="display: block; margin-bottom: 10px;  ">
                <a class="css-a-title" href=""><span>ĐIỀU KHOẢNG SỬ DỤNG</span></a>
            </li>
            <li>
                <a class="css-a" href="">Điều khoảng sử dụng</a>
            </li>
            <li>
                <a class="css-a" href="">Chính sách bảo mật của Klook</a>
            </li>
            <li>
                <a class="css-a" href="">Chính sách Cookie</a>
            </li>
            <li>
                <a class="css-a" href="">Chương trình thưởng phát hiện lỗi phần mềm</a>
            </li>
            <li>
                <a class="css-a" href="">Chính sách và quy định</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="footer-email" style="display: block;">
            <span class="css-a-title">Các deal du lịch giảm giá đến 60% sẽ được gửi đến inbox của bạn</span>
            <p style="opacity: 0.6;">Khi nhấp vào Đăng Ký, bạn đồng ý với
                <a style="text-decoration:underline; color: black;" href="">Các Điều Kiện & Điều Khoảng</a>
                và
                <a style="text-decoration:underline; color: black;" href="">Chính Sách Bảo Mật </a>
                của chúng tôi
            </p>
            <div class="input" style="display: flex; ">
                <input
                    style="height: 40px; border-radius: 8px; border: none; outline: none; background-color: rgb(238, 238, 238); padding: 10px;"
                    type="text" placeholder="Nhập email...">
                <button
                    style="height: 40px; border-radius: 8px; border: none; outline: none; background-color: rgb(255, 64, 0); margin-left: -15px; color: white;">Đăng
                    Ký</button>
            </div>
        
            <div class="footer-pay" style="margin-top: 20px; font-weight: 600;">
                <span>KÊNH THANH TOÁN</span>
                <div class="row" style="margin-left: -10px;">
                    <div class="col-sm-2 css-pay">
                        <img src="https://res.klook.com/image/upload/v1646105893/btntfn8avhh5lmzftvvt.png" />
                    </div>
                    <div class="col-sm-2 css-pay">
                        <img src="https://res.klook.com/image/upload/v1646105893/izie51h8cglw7tp4xtcm.png" />
                    </div>
                    <div class="col-sm-2 css-pay">
                        <img src="https://res.klook.com/image/upload/v1646105893/btntfn8avhh5lmzftvvt.png" />
                    </div>
                    <div class="col-sm-2 css-pay">
                        <img src="https://res.klook.com/image/upload/v1646105893/oz0s9miltrjsgjc271wo.png" />
                    </div>
                    <div class="col-sm-2 css-pay">
                        <img src="https://res.klook.com/image/upload/v1646105893/f08rx4qptjfrt5bqpkqu.png" />
                    </div>
                    <div class="col-sm-2 css-pay">
                        <img src="https://res.klook.com/image/upload/v1658112561/fxi9j1y4xlyoohugp6p9.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
