<nav id="navbar-content" class="sticky-top navbar navbar-expand-sm bg-white">
    <!-- Brand -->
    <div class="row navbar-link" style="margin-top: 4px;">
        <div class="col-sm-4">
            <a class="navbar-brand" href="/" style="margin-left: 40px;">
                <img src="/svg/logo.svg" />
            </a>
        </div>
        <div class="col-sm-4">
            <input id="input-search" class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm theo điểm đến, hoạt động">
        </div>
        <div class="col-sm-4">
            <ul id="navbar-right" class="navbar-nav">
                <li class="nav-item bg-hover">
                    <a class="nav-link" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item bg-hover">
                    <a class="nav-link" href="/signup">Đăng ký</a>
                </li>
                <li class="nav-item" id="btn-login">
                    <a class="nav-link" href="/login" style="color: white;">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>
</nav>