<section class="home" id="home">
    <div class="content">
        <h3>Khách sạn</h3>
        <p>Lưu lại các điểm đến trong mơ</p>
    </div>
    <div class="banner-container">
        <img src="../asset/img/hotel-banner-.jpg" id="banner"></img>
    </div>

</section>