/* css banner home */
#container-home .content {
    position: absolute;
    color: white;
    margin: 60px;
    font-weight: 600;
}

#container-home #form-booking {
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    top: -50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0.5px #d4d1d1;
}

#container-home .text-title {
    font-size: 28px;
    color: #333333;
    font-weight: 600;
}

/* css form-booking */
#form-booking .booking-content {
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 10px;
}

#form-booking .bg-hover:hover {
    background-color: #ecf3fc;
}

#form-booking .booking-content input {
    border: none;
    outline: none;
    background-color: #f5f5f5;
}

#form-booking .booking-content input:hover {
    background-color: #ecf3fc;
    border: none;
    outline: none;
}

#form-booking .text-form-search {
    margin-left: 2px;
    font-size: 12px;
    color: #757575;
    font-family: '-apple-system';
    font-weight: 500;
    line-height: 18px;
}

#form-booking .input-form-search {
    font-size: 12px;
}

#form-booking #button-search {
    height: 60px;
    width: 100;
    background: #ff5b00;
    color: white;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    border-radius: 12px;
    display: flex;
    align-items: center;
}


.swiper {
    margin: 0 auto;
    overflow: hidden;
}

.svg-icon {
    fill: #ff5b00;
}

