#navbar-content {
    border-bottom: 1px solid rgb(151, 150, 150);
}

.navbar-nav .nav-link {
    color: black;
}

#navbar-right {
    position: fixed;
    right: 60px;
}

#logo-en .logo-en-fill {
    fill: #ff5b00;
}

#navbar-right .bg-hover:hover {
    background-color: #f5f5f5;
    border-radius: 20px;
}

#navbar-right .bg-hover {
    margin-right: 10px;
    font-size: 12px;
}

#navbar-right #btn-login {
    font-size: 12px;
    background-color: #ff5b00;
    border-radius: 20px;
}

#navbar-content #input-search {
    background-color: #f5f5f5;
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 4px;
    width: 300px;
    font-size: 14px;
}

#navbar-content #input-search:hover {
    border: 1px solid #ff5b00;
    background-color: white;
}
