
:root{
  --red:#ff0000;
}

*{
  font-family: 'Times New Roman', Times, serif;
  margin:-8.5px;   
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--red);
  color:#ffffff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
}

section{
  padding:20px 9%;
}

.heading{
  text-align: center;
  padding:25px 0
}


.heading span{
  font-size: 20px;
  background:rgb(255, 255, 255);
  color:var(--red);
  border-radius: 6px;
  padding:0;
}

.heading span.space{
  background:none;
}

.btn{
  display: inline-block;
  margin-top: 20px;
  background:var(--red);
  color:#fff;
  padding:10px 30px;
  border:2px solid var(--red);
  cursor: pointer;
  font-size: 17px;
}

.btn:hover{
  background:rgba(0, 0, 0, 0.2);
  color:var(--red);
}

header{
  position: fixed;
  top:0; 
  left: 0; 
  right:0;
  background:#ffffff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px  100px;
  height: 60px;
  
}

header .logo{
  text-align: center;
  font-size: 30px;
  margin: 0 100px;
  font-style: normal;
  color:#020202;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

header .logo span{
  color:var(--red);
}

header .navbar a{
  color:#070707;
  font-size: 20px;
  margin:0 25px;
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}

header .navbar a:hover{
  color:var(--red);
}


#menu-bar{
  color:#020202;
  border:1px solid #030303;
  border-radius: 5px;
  height: 60px;
  font-size: 20px;
  padding:15px 20px;
  cursor: pointer;
  display: none;
}

#box{
  box-sizing: border-box;
  background-color: red;
  border-radius: 20px;
  padding: 10px  20px;

}
.home{
  min-height: 850px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.home .content h3{
  font-size: 60px;
  color:#040404;
  font-weight: 1000;
  text-transform: uppercase;
  text-shadow: 0 3px 5px rgba(0,0,0,.1);
}

.home .content p{
  font-size: 25px;
  color:#000000;
  padding:5px 0;
  font-weight: 300;
}

.home .banner-container {
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.book .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  align-items: center;
}
.book .heading{
  margin-bottom: 50px;
  margin-top: -50px;
  font-family: 'Times New Roman', Times, serif;
}
.book .row form{
  flex:1 1 40px;
  padding:10px 10px 10px 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.book .row form .inputBox{
  padding:5px 10px ;
}

.book .row form .inputBox input{
  width:100%;
  padding:10px;
  border:1px solid rgba(0,0,0,.1);
  font-size: 17px;
  color:#333;
  text-transform: none;
}

.book .row form .inputBox h3{
  font-size: 20px;
  padding:20px 0;
  color:#666;
}