/* css trong đây chỉ viết khi tất cả mọi thẻ đều dùng tới nó */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    font-family: 'Times New Roman', Times, serif;
}

